* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

h1 {
  text-align: center;
}

.box {
  text-align: center;
}

.box input,
.box select,
.box button {
  font-size: 1.2em;
  border: 1px solid #222;
  line-height: 28px;
  text-transform: capitalize;
  margin: 5px;
  min-height: 35px; /* for all blocks*/
}

.box input {
  font-size: 1em;
  width: 80px;
}

.output,
.box {
  width: 80%;
  margin: auto;
  border: 1px solid #ccc;
  background-color: #ddd;
  padding: 10px;
}

.output > div {
  font-size: 2em;
  margin: auto;
}

.output small {
  text-align: center;
  font-size: 0.6em;
}

.output button {
  text-align: center;
  font-size: 0.5em;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  color: whitesmoke;
  background-color: #333;
  margin: 5px;
  border-radius: 10px;
}
